.container-info{
  vertical-align: middle;
	margin-bottom: 2rem;
}

.listed-items {
  list-style: none;
  font-family: Cairo, sans-serif;
  color:#333;
  font-weight: lighter;
	text-align: center;
  font-size: 1.2vw;
}

.listed-items:hover {
  color:#72195A;
  font-weight: bold;
  font-size: 1.5vw;
}