* { box-sizing: border-box; }

html, body {
  margin: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.text-titulo {
  font-family: Cairo, sans-serif;
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
}

.text-h1 {
  font-family: Cairo, sans-serif;
  font-size: 50px;
  font-size: 3.5vw;
  font-weight: bolder;
  text-align: center;
}
/*buttons*/

.code-button {
  align-items: center;
  background-color: #fffaaa;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: Cairo, monospace;
  height: 65px;
  width: 100%;
  justify-content: center;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 25px;
  font-size: 1.7vw;
  margin-bottom: 0.5rem;
}

.code-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.code-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.code-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.demo-button {
  align-items: center;
  background-color: #007bff;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Cairo, monospace;
  height: 65px;
  width: 100%;
  justify-content: center;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 25px;
  font-size: 1.7vw;
  margin-bottom: 0.5rem;
}

.demo-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.demo-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.demo-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/*slider*/

.slider-root {
  margin: auto;
  width: 90%;
  height: 550px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
	box-shadow: 2px 2px 2px 2px black;
  border-radius: 25px;
  background-color: #7b3cc4;
}

.project-container {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  padding: 10px;
  background-color: #574aaa;
  color: white;
  opacity: 0;
}

.slider-container {
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
	box-shadow: 2px 2px 2px 2px black;
  border-radius: 25px;
}

.project-info{
  font-size: 1.4vw;
  font-family: Cairo, serif;
  letter-spacing: 3px;
  font-weight: 480;
  text-align: right;
  margin-left: 15px;
  margin-right: 15px;
  color: rgb(255, 255, 255);
}

.project-info-container {
  width: 50%;
  height: 100%;
  background-color: #7b3cc4;
}

.active-slide {
  opacity: 1;
}

.button-slide {
  background-color: transparent;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s ease;
}

.button-slide:hover{
  background: #f3138e;
  transition: 1s ease;
}

.button-slide img {
  width: 15px;
  height: 'auto';
}

.prev {
  top: 60%;
  left: 5px;
  transform: translateY(-60%);
}

.next {
  top: 60%;
  right: 5px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  cursor: pointer;
  transition: 1s ease;
}

.dot:hover {
  background: #574aaa;
  transition: 1s ease;
}

.dot.active {
  background: rgb(32, 32, 32);
  transition: 1s ease;
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  margin-top: 3rem;
}

.img-container {
  width: 100%;
  height: 50%;
  margin-bottom: 1.7rem;
}

.project-image {
  margin: 0 auto;
  width: 295px;
  height: 209px;
  border-radius: 15px;
  border-bottom: 1px solid rgba(#777, 0.1);
  padding: 8px;
	transition: 1s ease;
}

.text-container {
  width: 100%;
  height: 30%;
}

.project-title {
  font-size: 1.8vw;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.project-description {
  font-size: 1.6vw;
  font-family: Cairo;
  padding: 0 1rem;
  margin-top: 0;
}

.project-links {
  margin: auto;
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 800px){
  .slider-root {
    margin: auto;
    height: 450px;
  }
  .button-slide {
    width: 20px;
    height: 20px;
  }

  .project-image {
    margin: 0 auto;
    width: 165px;
    height: auto;
    padding: 8px;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .project-info{
    font-size: 9px;
  }

	.code-button {
		height: 40px;
	}

	.demo-button {
		height: 40px;
	}
}

@media screen and (max-width: 600px){
  .slider-root {
    margin: auto;
    width: 100%;
    height: 375px;
  }

  .button-slide {
    width: 20px;
    height: 20px;
  }

  .project-image {
    margin: 0 auto;
    width: 180px;
    height: auto;
    padding: 8px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .text-container{
    margin-bottom: 0.3rem;
  }

  .project-info-container{
    display: none;
  }

	.code-button {
		height: 30px;
	}

	.demo-button {
		height: 30px;
	}
}


@media screen and (max-width: 400px){
  .slider-root {
    margin: auto;
    height: 325px;
  }

  .button-slide {
    width: 20px;
    height: 20px;
  }

  .project-image {
    margin: 0 auto;
    width: 140px;
    height: auto;
    padding: 8px;
    margin-top: 0.1rem;
    margin-top: 0.1rem;
  }

  .text-container{
    margin-bottom: 0.2rem;
  }

  .project-info-container{
    display: none;
  }

	.code-button {
		height: 20px;
	}

	.demo-button {
		height: 20px;
	}
}